* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --color-cyan-600: #4D96A9;
  --color-cyan-300: #8FE3F9;
  --color-purple-600: #855FB1;
  --color-purple-300: #D9B8FF;
  --color-slate-900: #28283D;
  --color-slate-600: #87879D;
  --color-slate-300: #D1D1DF;
  --color-white: #FAFAFA;

  --space-1400: 112px;
  --space-1000: 80px;
  --space-900: 72px;
  --space-800: 64px;
  --space-700: 56px;
  --space-600: 48px;
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-100: 8px;
  --space-50: 4px;
}

.text-preset-1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}
.text-preset-2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}
.text-preset-3 {
  font-size: 16px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
}
.text-preset-4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}
.text-preset-5 {
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0;
}

body {
  background: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main, header, article, footer {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--space-1000);
}
.logo__img {
  width: 118px;
}

.header__banner {
  display: grid;
  grid-template-columns: auto 304px 448px 304px auto;
  grid-template-rows: 1fr;
  gap: var(--space-400);
  padding: var(--space-800) 0;
}

.banner-1 {
  grid-column: 2/2;
}
.banner-1 img {
  transform: translateX(-192px);
}

.banner-2 {
  grid-column: 3/3;
  padding-top: var(--space-300);
  padding-bottom: var(--space-300);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--space-400);
}
.banner-2 .title {
  color: var(--color-slate-900);
}
.banner-2 .subtitle {
  color: var(--color-slate-600);
  white-space: break-spaces;
}
.banner-2 .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-200);
}
.banner-2 .buttons button {
  padding: var(--space-200) var(--space-500);
  border-radius: 29px;
  border: none;
  color: var(--color-white);
}
.banner-2 .btn-download {
  background: var(--color-cyan-600);
  cursor: pointer;
}
.banner-2 .btn-download:hover {
  background: #71C0D4;
}
.banner-2 .btn-download span {
  color: var(--color-cyan-300);
}
.banner-2 .btn-ask {
  background: var(--color-purple-600);
  cursor: pointer;
}
.banner-2 .btn-ask:hover {
  background: #B18BDD;
}

.banner-3 {
  grid-column: 4/4;
}
.banner-3 img {
  transform: translateX(96px);
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-700) 0 var(--space-900);
  gap: var(--space-800);
}

.mark {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  color: var(--color-slate-600);
  border: 1px solid var(--color-slate-300);
  border-radius: 50%;
  position: relative;
  margin-top: var(--space-1000);
}

.mark::before {
  content: "";
  position: absolute;
  top: -80px;
  width: 1px;
  height: 80px;
  border: none;
  display: block;
  background: var(--color-slate-300);
}

.slides {
  display: flex;
  gap: var(--space-400);
}

.slide {
  width: 256px;
  height: 256px;
  overflow: hidden;
  border-radius: var(--space-100);
  display: flex;
  justify-content: center;
}
.slide img {
  height: 100%;
}

.content {
  width: 544px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content__subtitle {
  color: var(--color-cyan-600);
  margin: 0 50px var(--space-200);

}
.content__title {
  color: var(--color-slate-900);
  margin: 0 50px var(--space-400);
}
.content__description {
  color: var(--color-slate-600);
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}

.mark-02 {
  margin-bottom: -30px;
  z-index: 10;
}

.footer {
  width: 100%;
  padding: var(--space-1400);
  display: grid;
  grid-template-columns: auto 445px 355px 256px auto;
  gap: var(--space-400);
  /*margin-top: -32px;*/

  /*background-image: url("./assets/desktop/image-footer.jpg");*/
  background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url('./assets/desktop/image-footer.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background-position-y: -20px;*/
  position: relative;
}

footer .text-1 {
  grid-column: 2/2;
}

footer .text-1, footer .text-2 {
  color: var(--color-white);
}

footer .btn-download-2 button {
  padding: var(--space-200) var(--space-500);
  border-radius: 29px;
  border: none;
  color: var(--color-white);
  background: var(--color-purple-600);
  cursor: pointer;
}
footer .btn-download-2 button:hover {
  background: #B18BDD;
}

footer .btn-download-2 button span {
  color: var(--color-purple-300);
}

@media screen and (max-width: 1200px) {
  .header__logo {
    padding-top: var(--space-600);
  }
  .header__banner {
    grid-template-columns: auto 394px 394px auto;
    grid-template-rows: auto auto;
  }
  .banner-1 {
    grid-row: 1/1;
    grid-column: 2/2;
  }
  .banner-1 img {
    transform: translateX(0);
  }
  .banner-3 {
    grid-row: 1/1;
    grid-column: 3/3;
  }
  .banner-3 img {
    transform: translateX(0);
  }
  .banner-2 {
    grid-row: 2/2;
    grid-column: 2/4;
    padding-top: var(--space-500);
    padding-bottom: 0;
    display: grid;
    grid-template-columns: auto 449px auto;
    grid-template-rows: auto auto auto;
  }
  .banner-2 .title {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  .banner-2 .subtitle {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  .banner-2 .buttons {
    grid-column: 2/2;
    grid-row: 3/3;
  }

  article {
    padding: var(--space-700) 0 var(--space-800);
  }
  .slides {
    gap: var(--space-300);
  }
  .slide {
    width: 152px;
    height: 160px;
  }
  .footer {
    padding: var(--space-800) var(--space-400);
    grid-template-columns: auto 504px auto;
    grid-template-rows: auto auto auto;
    text-align: center;
    gap: var(--space-300);
  }
  .footer .text-1 {
    grid-row: 1/1;
    grid-column: 2/2;
    font-size: 36px;
  }
  .footer .text-2 {
    grid-row: 2/2;
    grid-column: 2/2;
    font-size: 16px;
  }
  .footer .btn-download-2 {
    grid-row: 3/3;
    grid-column: 2/2;
  }
}

@media screen and (max-width: 767px) {
  .header__banner {
    padding: var(--space-800) 0 var(--space-400);
    grid-template-columns: auto 208px 208px auto;
    column-gap: 17px;
    row-gap: var(--space-600);
  }
  .banner-1 img, .banner-3 img {
    width: 100%;
  }
  .banner-2 {
    grid-template-columns: auto 305px auto;
    grid-template-rows: auto auto auto;
    gap: var(--space-300);
  }
  .banner-2 .title {
    font-size: 40px;
  }
  .banner-2 .subtitle {
    font-size: 16px;
  }
  .banner-2 .buttons {
    flex-direction: column;
  }
  article {
    padding: var(--space-400) 0 var(--space-800);
  }

  .slides {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: var(--space-200);
  }
  .slide {
    width: 148px;
    height: 144px;
  }
  .content {
    width: 311px;
  }
  .content__subtitle {
    font-size: 12px;
    margin: 0 0 var(--space-200);
  }
  .content__title {
    font-size: 32px;
    margin: 0 0 var(--space-400);
  }
  .content__description {
    font-size: 16px;
  }

  .footer {
    grid-template-columns: auto auto auto;
  }
  .footer .text-1 {
    font-size: 32px;
  }
}