* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  --color-cyan-600: #4D96A9;
  --color-cyan-300: #8FE3F9;
  --color-purple-600: #855FB1;
  --color-purple-300: #D9B8FF;
  --color-slate-900: #28283D;
  --color-slate-600: #87879D;
  --color-slate-300: #D1D1DF;
  --color-white: #FAFAFA;

  --space-1400: 112px;
  --space-1000: 80px;
  --space-900: 72px;
  --space-800: 64px;
  --space-700: 56px;
  --space-500: 40px;
  --space-400: 32px;
  --space-300: 24px;
  --space-200: 16px;
  --space-100: 8px;
  --space-50: 4px;
}

.text-preset-1 {
  font-size: 64px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}
.text-preset-2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0;
}
.text-preset-3 {
  font-size: 16px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 4px;
}
.text-preset-4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
}
.text-preset-5 {
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0px;
}

body {
  background: var(--color-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main, header, article, footer {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--space-1000);
}
.logo__img {
  width: 118px;
}

.header__banner {
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: auto 304px 448px 304px auto;
  grid-template-rows: 1fr;
  gap: var(--space-400);
  padding: var(--space-800) 0;
}

.banner-1 {
  grid-column: 2/2;
}
.banner-1 img {
  transform: translateX(-192px);
}

.banner-2 {
  grid-column: 3/3;
  padding-top: var(--space-300);
  padding-bottom: var(--space-300);
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--space-400);
}
.banner-2 .title {
  color: var(--color-slate-900);
}
.banner-2 .subtitle {
  color: var(--color-slate-600);
  white-space: break-spaces;
}
.banner-2 .buttons {
  display: flex;
  justify-content: center;
  gap: var(--space-200);
}
.banner-2 .buttons button {
  padding: var(--space-200) var(--space-500);
  border-radius: 29px;
  border: none;
  color: var(--color-white);
}
.banner-2 .btn-download {
  background: var(--color-cyan-600);
}
.banner-2 .btn-download span {
  color: var(--color-cyan-300);
}
.banner-2 .btn-ask {
  background: var(--color-purple-600);
}

.banner-3 {
  grid-column: 4/4;
}
.banner-3 img {
  transform: translateX(96px);
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-700) 0 var(--space-900);
}